.project-text {
    text-align: center;
    font-size: 75px;
    color: white
}

span.owner {
    display: block;
    width: 400px;
    height: 25px;
    background-color: rgb(231, 231, 231);
    padding: 5px;
    border: 2px solid purple;
    margin-bottom: 3px;
}

.owner:hover{
    background-color: lightcoral;
}

.owner .oinfo{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.owner:hover + .oinfo{
	visibility: visible;
}